.slider-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
     -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
     -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
	padding-top: 1.5em;
}

#value-disp {
    width: 100%;
    text-align: center;
    margin-top: 1.5em;
}

.val-cont {
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 1.5em;
    margin: 1em;
    width: auto;
    height: auto;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding-top: 0.2em;
    font-family: 'Josefin Slab';
    padding: 0.5em;
}

#slider-container {
	padding-top: 2em;
}

body {
	font-size: 16px;
}

.slider-text {
	margin-left: 3em;
	margin-top: 0.9em;
	font-family: 'Josefin Slab';
	font-size: 1.3em;
}

.range-slider-handle {
	text-align: center;
	padding-top: 0.2em;
}

#intro-text {
	text-align: center;
	width: 100%;
	padding-top: 1em;
}

#title {
	font-family: 'Permanent Marker', cursive;
	font-size: 5em;
}

#subtitle {
	font-family: 'Josefin Slab';
	font-size: 1.3em;
}

.dev-notice {
	width: 100%;
	text-align: center;
	font-size: 2em;
	font-family: 'Josefin Slab';
	margin-bottom: -0.5em;
}

#footer{
	display: block;
	text-align: center;
	font-size: 0.9em;
	bottom:0;
	width: 100%;
	height: 30px;
	color: rgb(154, 154, 154);
	position: fixed;
	margin-bottom: -10px;
	font-family: 'Josefin Slab';
}

#footer a {
	text-decoration: underline;
	color: rgb(200, 200, 200);
}

#footer a:hover {
	color: rgb(150, 150, 150);
}

.range-slider-handle {
	font-family: 'Permanent Marker', cursive;
}

#comp-cont {
    margin-left: 47%;
    margin-right: 47%;
    margin-top: 2em;
    text-align: center;
}

.a-cont {
    width: 2em;
    height: 2em;
    background-color: rgb(0, 0, 0);
}